* {
}

#pageWrapper {
	display: flex;
}

#characters, #content {
	display: inline-block;
}

#characters {
	border: 1px solid black;
	height: 90vh;
	width: 200px;
	background-color: rgb(245, 245, 245);
	overflow-y: auto;
}

#characterList {
	list-style: none;
	padding: 0px;
}

.character {
	border: 1px solid black;
	margin: 20px 10px;
	padding: 20px 0px;
	word-wrap: break-word;
	text-align: center;
	background-color: white;
	font-size: 18px;
}

.character:hover {
	box-shadow: 0px 0px 3px rgb(16 ,16 ,16);
}

#content {
	vertical-align: top;
	width: 100%;
}

#nav {
	height: 60px;
	display: table;
	vertical-align: middle;
}

.navWrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 80px;
	height: 40px;
}

.navWrapper:hover {
	box-shadow: 0px 0px 3px rgb(16 ,16 ,16);
}


.navElement {
	margin: auto;
	vertical-align: middle;
	text-align: center;
}

#stats {
	list-style: none;
	padding: 0px;
	font-family: "Courier New", Courier, monospace;
}
